/* Application CSS */

.LayoutContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.HeaderContainer{
    flex: 10;
    display: flex;
}

.AppContainer {
    flex: 80;
    display: flex;
}

.FooterContainer{
    flex: 10;
    display: flex;
}