/* Application CSS */

.app-LayoutContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app-HeaderContainer{
    flex: 10;
    display: flex;
}

.app-AppContainer {
    flex: 80;
    display: flex;
}

.app-FooterContainer{
    flex: 10;
    display: flex;
}