.app-container {
    margin: 0px 0px 0px 0px;
    background-color: #606060;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

html *{
    font-family: 'Patua One', cursive !important;
}
