/* Search CSS Styling */

.search-SearchContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.search-Spacer {
    height: 25px;
}

.search-SearchBar{
    width: 25%;
    height: 5%;
    font-size: 24px;
    text-align: center;
}

.search-NotResultContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    align-items: center;
    flex: 33;
    flex-grow: 1;
}

.search-ResultContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    align-items: center;
    flex: 33;
    flex-grow: 1;
    flex-shrink: 1;
    transition: flex-grow 0.33s ease;
    max-height: 33%;
}

.search-ResultsContainerEmpty{
    flex-grow: 0.0000000001;
    transition: flex-grow 0.25s ease;
}

.search-ListContainer{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: red;
}