/* Search CSS Styling */

.search-SearchContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.search-Spacer {
    height: 25px;
}

.search-SearchBar{
    width: 25%;
    height: 5%;
    font-size: 24px;
    text-align: center;
}

.search-NotResultContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    align-items: center;
    flex: 33;
    flex-grow: 1;
}

.search-ResultContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    align-items: center;
    flex: 33;
    flex-grow: 1;
    flex-shrink: 1;
    transition: flex-grow 0.33s ease;
    height:100%;
}

.search-ResultsContainerEmpty{
    flex-grow: 0.0000000001;
    transition: flex-grow 0.25s ease;
}

.search-ListContainer{
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;

}

.search-ListContainer::-webkit-scrollbar{
    display: none;
}

.search-ResultBox{
    min-height: 64px;
    margin: 2px 2px 2px 2px;
    width: 66%;
    background-color: #101010;
    border-radius: 3px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}

.search-ResultBox > .resimg {
    display: flex;
    flex: 10;
}

.search-ResultBox > .resname {
    flex: 20;
    font-size: 28px;
    justify-content: center;
    text-align: center;
    align-items: stretch;
    color: silver;
    display: flex;

}

.search-ResultBox > .resname:hover {
    cursor: default;
}

.search-ResultBox > .resdesc{
    font-size: 12px;
    color: silver;
    display: flex;
    flex: 50;
    text-align: start;
    align-items: center;
    text-overflow: ellipsis;
    overflow-y: hidden;
    padding: 5px 10px 5px 10px;

}

.search-ResultBox > .resdesc:hover{
    cursor: default;
}


.search-ResultBox > .resinfo{
    flex: 20;
    display: flex;
    justify-content: center;
    color: silver;
    align-items: center;
}

.search-ResultBox > .resinfo:hover{
    cursor: default;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    pointer-events: none;
}